<mat-card>
	<mat-card-title>Powerball</mat-card-title>
	<mat-card-subtitle>Winning Numbers</mat-card-subtitle>
	<mat-card-content>
		<span *ngFor="let number of winningNumbers">{{ number }}</span>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color="accent" (click)="start()" [disabled]="disableStart">Start</button>
    	<button mat-raised-button color="warn" (click)="stop()" [disabled]="disableStop">Stop</button>
	</mat-card-actions>
</mat-card>

<mat-card>
	<mat-card-subtitle>Your Numbers</mat-card-subtitle>
	<mat-card-content>
		<span *ngFor="let number of playerNumbers">{{ number }}</span>
	</mat-card-content>
</mat-card>
