<mat-accordion multi="true">
	<mat-expansion-panel>
		<mat-expansion-panel-header>Statistics</mat-expansion-panel-header>
		<mat-list>
			<mat-list-item>Total Rounds: {{ totalRounds }}</mat-list-item>
			<mat-list-item>Wins: {{ wins }}</mat-list-item>
			<mat-list-item>Jackpots: {{ jackpots }}</mat-list-item>
			<mat-list-item>Net Money: {{ money }}</mat-list-item>
		</mat-list>
	</mat-expansion-panel>
	
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>Win History</mat-panel-title>
		</mat-expansion-panel-header>
		<mat-list>
			<mat-list-item>
				<button mat-raised-button color="accent" (click)="resetHistory()">Reset History</button>
			</mat-list-item>
			<mat-list-item *ngFor="let win of winHistory">
				<span matLine>Round: {{ win.round }}</span>
				<span matLine>Winning Numbers: {{ win.winningNumbers }}</span>
				<span matLine>Your Numbers: {{ win.userNumbers }}</span>
				<span matLine>Money won: ${{ win.money }}</span>
				<mat-divider></mat-divider>
			</mat-list-item>
		</mat-list>
	</mat-expansion-panel>
</mat-accordion>