<mat-card>
	<mat-card-title>Statistics</mat-card-title>
	<mat-card-subtitle>Total Rounds</mat-card-subtitle>
	<mat-card-content>{{ totalRounds }}</mat-card-content>
	<mat-card-subtitle>Wins</mat-card-subtitle>
	<mat-card-content>{{ wins }}</mat-card-content>
	<mat-card-subtitle>Jackpots</mat-card-subtitle>
	<mat-card-content>{{ jackpots }}</mat-card-content>
	<mat-card-subtitle>Net Money</mat-card-subtitle>
	<mat-card-content>{{ money }}</mat-card-content>
</mat-card>

<mat-card>
	<mat-card-title>Win History</mat-card-title>
	<mat-list>
		<mat-list-item *ngFor="let win of winHistory">
			<span matLine>Round: {{ win.round }}</span>
			<span matLine>Winning Numbers: {{ win.winningNumbers }}</span>
			<span matLine>Your Numbers: {{ win.userNumbers }}</span>
			<span matLine>Money won: ${{ win.money }}</span>
			<mat-divider></mat-divider>
		</mat-list-item>
	</mat-list>
</mat-card>